<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>
  </head>
  <body>
    <% if (currentUser) {%>
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    <a href="/auth/log-out">LOG OUT</a>
    <form action="/file-upload" method="post" enctype="multipart/form-data">
      <input type="file" name="uploadedFile" />
      <button type="submit">Upload</button>
    </form>
    <a href="/folders/new">New Folder</a>
    <ul>
      <% folders.forEach((folder) => { %>
      <div
        style="
          border: 1px solid black;
          max-width: max-content;
          padding: 20px;
          margin-bottom: 10px;
        "
      >
        <h2><a href="/folders/<%= folder.id %>"><%- folder.name %></a></h2>
        <form
          action="/folders/delete-folder/<%= folder.id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit">❌</button>
        </form>
      </div>
      <% }); %>
      <% loneFiles.forEach((file) => { %>
      <div
        style="
          border: 1px solid black;
          max-width: max-content;
          padding: 20px;
          margin-bottom: 10px;
        "
      >
        <h2><a href="/files/<%= file.id %>"><%- file.name %></a></h2>
        <form
          action="/files/delete-file/<%= file.id %>"
          method="POST"
          style="display: inline"
        >
          <button type="submit">❌</button>
        </form>
      </div>
      <% }); %>
    </ul>
    <% } else { %>
    <h1>please log in</h1>
    <form action="/auth/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <a href="/auth/sign-up">Sign up instead</a>
    <% } %>
  </body>
</html>
